page-welcome {
	.background {
		background-image: url('../assets/img/bg.jpg');
	}

	.mainTitle {
		font-family: Nanum Brush Script;
		font-weight: 400;
		color: white;
		text-align-last: center;
		font-size: 40px;
	}

	.login {
		font-family: Nanum Pen Script;
		font-size: 30px;
	}
}
